<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.qa.sound.listners.ExtentReportListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Login Page Test">
        <classes>
            <class name="com.qa.sound.tests.LoginPageTest">
                <methods>
                    <include name="doLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>